@model List<EmployeeAttendanceViewModel>
@{
    ViewData["Title"] = "Index";
    SelectList Departments = new SelectList(ViewBag.Departments,"Id","Name");
}
<input hidden value="@ViewBag.Errors" id="errors"/>
<div class="card">
    <div class="card-header">
        <div class="card-title-wrap bar-success">
            <h4 class="card-title">Attendance and departure request</h4>
        </div>
    </div>
    <div class="card-body collapse show">
        <div class="card-block card-dashboard">
                <div class="row">
                    <div class="col-md-12 d-flex align-items-center mb-2">
                       <input type="text" id="search" class="form-control col-8" placeholder="Enter employee name or department">
                    </div>
                    <div class="col-md-8 d-flex align-items-center mb-2">
                       <label class="label-control ms-2">From:</label>
                       <input type="date" name="search-start" class="form-control col-5"/>
                       <label class="label-control">To:</label>
                       <input type="date" name="search-end" class="form-control col-5"/>
                    </div>
                    <div class="col-md-8">
                       <button class="btn btn-primary ms-2">Search</button>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <form asp-action="AddFile" method="post" enctype="multipart/form-data">
                            <div class="d-flex">
                                <input type="file" name="file" id="import_file" class="form-control mb-2">
                                <button type="submit" class="btn btn-primary ms-2">Import</button>
                                <button type="button" class="btn btn-warning ms-2">Export</button>
                            </div>

                        </form>
                    </div>                              
                </div> 
            <table class="table table-striped table-bordered zero-configuration mt-40">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Date </th>
                        <th>Attendance Time</th>
                        <th>Check Out Time</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var Attendance in Model)
                    {
                        <tr>
                            <td>@Attendance.AttendanceId</td>
                            <td>@Attendance.EmployeeName</td>
                            <td>@Attendance.Date.ToShortDateString()</td>
                            <td>@Attendance.CheckInTime</td>
                            <th>@Attendance.CheckOutTime</th>
                            <th>
                               <a type="button" class="btn btn-danger mr-1" asp-action="DeleteAttendance" asp-route-id="@Attendance.AttendanceId" onclick="DeleteAlert()">
                                    <i class="icon-trash"></i> Delete
                               </a>
                            </th>
                            <th>
                               <a type="button" class="btn btn-primary mr-1" asp-action="Edit" asp-route-id="@Attendance.AttendanceId">
                                    <i class="icon-note"></i> Edit
                               </a>
                            </th>
                        </tr>
                    }

                                                                                                                                                                                                                                                        </yr>
                </tbody>
                
            </table>
        </div>
    </div>
    <div class="card-header">
        <div class="card-title-wrap bar-success">
            <h4 class="card-title">Request A Form</h4>
        </div>
    </div>
    <div class="card-body">
    <div class="px-3">
    <form class="form form-horizontal">
    <div class="form-body">
              
        <div class="form-group row">
        <label class="col-md-3 label-control" for="projectinput7">Employee Name : </label>
        <div class="col-md-9">
            <select id="projectinput7" name="budget" class="form-control">
            <option value="0" selected="" disabled="">Tasneem Saleh</option>
            <option value="leman">Eman Ahmed</option>
            <option value="amany">Amany Gamal</option>
            
            </select>
        </div>
        </div>
  
                 
  
               
        <div class="form-group row">
        <label class="col-md-3 label-control" for="projectinput9">Date: </label>
        <div class="col-md-9">
            <div class="position-relative has-icon-left">
            <input type="date" id="timesheetinput3" class="form-control" name="date">
            <div class="form-control-position">
                <i class="ft-message-square"></i>
            </div>
            </div>
            </div>
            </div>
        </div>
          
               
        <div class=" row">
        <div class="col-md-12">
            <div class=" row form-group">
            <label class="col-md-3 label-control">Start time: </label>
            <div class="position-relative has-icon-left col-lg-9">
                <input type="time" id="timesheetinput5" class="form-control" name="starttime">
                <div class="form-control-position">
                <i class="ft-clock"></i>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class=" row form-group">
            <label class="col-md-3 label-control">End time: </label>
            <div class="position-relative has-icon-left col-lg-9">
                <input type="time" id="timesheetinput6" class="form-control" name="endtime">
                <div class="form-control-position">
                <i class="ft-clock"></i>
                </div>
            </div>
            </div>
        </div>
        </div>
  
  
    <div class="form-actions">
        <button type="button" class="btn btn-danger mr-1">
        <i class="icon-trash"></i> Cancel
        </button>
        <button type="button" class="btn btn-success">
        <i class="icon-note"></i> Save
        </button>
    </div>              
             
    </form>
    </div>
    </div>

</div>
@section Scripts {
    <script>
        var errors = $("#errors").val();
        console.log(errors);
        if(errors != ''){
            alert(errors);
        }
        function DeleteAlert(){
            if(!confirm("Are you sure?")){
                event.preventDefault();
            }
        }
    </script>
}